#prevArrow {
  position: absolute;
  top: 40%;
  left: -2%;
  z-index: 2;
  color: lightgray;
}
#nextArrow {
  position: absolute;
  top: 40%;
  right: -2%;
  z-index: 2;
  color: lightgray;
}
#prevArrow:hover {
  cursor: pointer;
  color: rgb(192, 190, 190);
}
#nextArrow:hover {
  cursor: pointer;
  color: rgb(192, 190, 190);
}
@media (max-width: 600px) {
  #prevArrow {
    left: -4%;
  }
  #nextArrow {
    right: -4%;
  }
}
@media (max-width: 450px) {
  #prevArrow {
    left: -7%;
    top: 35%;
  }
  #nextArrow {
    right: -7%;
    top: 35%;
  }
}
