.category-list-wrapper {
  width: 100%;
  border-top: 1px solid lightgray;
  padding: 0px 15px;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 73px;
  overflow-y: hidden;
  /* box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}
.slider-container {
  width: 95%;
  margin: auto;
}
.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e5e9;
  border-radius: 50px;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  padding: 3px;
  margin: 5px;
  margin-top: 10px;
}
.category-container:hover {
  cursor: pointer;
}
.active {
  background-color: #e8f0fe;
}
.category-container img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.category-container span {
  color: #3e4245;
  font-family: sans-serif;
  margin: 0px 10px;
  line-height: 50px;
  font-size: 14px;
}

@media (max-width: 600px) {
  .category-list-wrapper {
    height: 63px;
  }
  .slider-container {
    width: 90%;
  }
  .category-container img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  .category-container span {
    margin: 0px 8px;
    line-height: 40px;
    font-size: 12px;
  }
}
