.image-card {
  object-fit: cover;
  border: 1px solid #e4e5e9;
  position: relative;
}
.image-card:hover {
  box-shadow: 0px 0px 8px rgb(153, 148, 148);
  cursor: pointer;
}
.image-card img {
  width: 100%;
  height: 170px;
}
.image-card p {
  color: #3e4245;
  margin: 10px;
  font-family: sans-serif;
  font-size: 14px;
  width: 80%;
}
.icon-size {
  position: absolute;
  color: ghostwhite;
  top: 12%;
  right: 11%;
  z-index: 10;
}
.icon-size:hover {
  cursor: pointer;
  transition: 0.25s;
  transform: scale(1.2);
}
