.image-list-container {
  margin: 25px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}
.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.image-modal {
  width: 80%;
  transition: 0.3s;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.mobile-screen {
  display: none;
}
@media (max-width: 600px) {
  .mobile-screen {
    display: block;
  }
}
