@media (max-width: 600px) {
  .image-detail-container {
    position: absolute;
    z-index: 2;
    top: 12%;
    height: 40vh;
    background-color: cyan;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    margin: 0 10px;
  }
}
