.searchbar-container {
  background-color: ghostwhite;
  display: flex;
  align-items: center;
}
.searchbar-container form {
  width: 70%;
  margin: auto;
}
.field {
  width: 100%;
  display: block;
  padding: 15px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.field label {
  color: #3e4245;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-button {
  display: grid;
  grid-template-columns: 90% 10%;
  border: 1px solid#3e4245;
  border-radius: 5px;
}
.input-button input {
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
}
.input-button input:hover {
  box-shadow: 0px 0px 3px #939697;
}
.input-button button {
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-button button:active {
  transform: translateY(1px);
}
.input-button button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px #939697;
}
@media (max-width: 600px) {
  .input-button {
    display: grid;
    grid-template-columns: 80% 20%;
  }
  .searchbar-container form {
    width: 85%;
  }
}
